footer
	.container
		.footer-wrap
			.footer-about
				.sitelogo
					a(href="#!")
						img(src="img/logo-w.png", alt="")
				ul
					li <i class="fa fa-map-marker" aria-hidden="true"></i>59 đường số 5, Khu phố 2, Phường Bình An, Quận 2, Tp. Hồ Chí Minh.
					li <i class="fa fa-phone" aria-hidden="true"></i>028 6656 2288 hoặc
						br
						|028 36201786
			.footer-main
				.row
					.col-12.col-sm-6.col-md-3
						.footer-col
							.footer-title Giới thiệu
							nav.footer-link
								a(href="#!") Giới thiệu
								a(href="#!") Hệ thống chi nhánh
								a(href="#!") Tuyển dụng
					.col-12.col-sm-6.col-md-3
						.footer-col
							.footer-title Sản phẩm
							nav.footer-link
								a(href="#!") Nội thất đồ gỗ
								a(href="#!") Đèn
								a(href="#!") Thảm
								a(href="#!") Trang trí/Decor
								a(href="#!") Thiết bị/Phụ kiện
					.col-12.col-sm-6.col-md-3
						.footer-col
							.footer-title Dịch vụ
							nav.footer-link
								a(href="#!") Thiết kế nội thất
								a(href="#!") Thi công nội thất
								a(href="#!") Thiết kế và thi công nội thất
					.col-12.col-sm-6.col-md-3
						.footer-col
							.footer-title Theo dõi chúng tôi
							.fb-fanpage
					.col-12
						.footer-subscribe
							.row
								.col-12.col-md-6
									.footer-col
										.footer-title Đăng ký nhận bản tin
										.subscribe-des Nhập Email của bạn để nhận được chương trình khuyến mãi, cẩm nang trang trí nội thất và thiết kế mới nhất của XHOME SÀI GÒN
								.col-12.col-md-6
									.footer-col
										.subscribe
											.subscribefrm
												input(type="text" placeholder="Nhập email của bạn...")
												button.subscribebutton Đăng ký
	.copyright Copyright © 2018 X’Home Sài Gòn. Designed by Cánh Cam.