section.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/breadcrumb/1.jpg", alt="")
	.breadcrumb-content
		.container
			ol.breadcrumb
				li
					a(href="#!")
						span Home
				li
					a(href="#!")
						span Dịch vụ
section.service-page
	.container
		h1.home-title.text-center Thiết kế và thi công nội thất
		.service-feature
			.row
				.col-6.col-md-4
					a.feature(href="#!" data-toggle="modal" data-target="#exampleModal")
						.icon
							img(src="img/service/f1.png", alt="")
						.number 01
						.name Nhận thông tin và tư vấn khách hàng
				.col-6.col-md-4
					a.feature(href="#!" data-toggle="modal" data-target="#exampleModal")
						.icon
							img(src="img/service/f1.png", alt="")
						.number 02
						.name Nhận thông tin và tư vấn khách hàng
				.col-6.col-md-4
					a.feature(href="#!" data-toggle="modal" data-target="#exampleModal")
						.icon
							img(src="img/service/f1.png", alt="")
						.number 03
						.name Nhận thông tin và tư vấn khách hàng
				.col-6.col-md-4
					a.feature(href="#!" data-toggle="modal" data-target="#exampleModal")
						.icon
							img(src="img/service/f1.png", alt="")
						.number 04
						.name Nhận thông tin và tư vấn khách hàng
				.col-6.col-md-4
					a.feature(href="#!" data-toggle="modal" data-target="#exampleModal")
						.icon
							img(src="img/service/f1.png", alt="")
						.number 05
						.name Nhận thông tin và tư vấn khách hàng
				.col-6.col-md-4
					a.feature(href="#!" data-toggle="modal" data-target="#exampleModal")
						.icon
							img(src="img/service/f1.png", alt="")
						.number 06
						.name Nhận thông tin và tư vấn khách hàng

#exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
	.modal-dialog.modal-service(role='document')
		.modal-content
			.modal-header
				h5#exampleModalLabel.modal-title Khách hàng kí hợp đồng
				.close(data-dismiss='modal', aria-label='Close') <i class="material-icons">close</i>
			.modal-body
				.content
					p Khách hàng  Ký hợp đồng thiết kế qua email hoặc trực tiếp tại showroom.
					p Đơn giá thiết kế cho nhà nguyên căn:
					ul
						li Đơn giá 150.000 đồng/ 1m2 đối với căn có diện tích dưới 120m2.
						li Đơn giá 120.000 đồng/ 1m2 đối với căn có diện tích trên 120m2.
					p Trong hợp đồng sẽ ghi rõ ngày hẹn đo khảo sát tại nhà và ngày hoàn thiện thiết kế cho khách hàng.
						br
						|Đối với các khách hàng cho nhu cầu cấp bách về thời gian sản xuất giao hàng sau khi chốt thiết kế (nhập trạch, phòng cưới...vv) nhân viên tư vấn của X'HOME sẽ ghi lại chi tiết trong đơn hàng và chốt lịch sản xuất với khách hàng ngay từ thời điểm này.
					p Hình thức thanh toán: Thanh toán bằng Tiền mặt/ Chuyển khoản. Khách hàng đặt cọc trước 70% giá trị hợp đồng ngay sau khi ký. 30% còn lại sẽ được thanh toán sau giai đoạn chốt phối cảnh.