section.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/breadcrumb/1.jpg", alt="")
	.breadcrumb-content
		.container
			ol.breadcrumb
				li
					a(href="#!")
						span Home
				li
					a(href="#!")
						span Dịch vụ
section.service-page
	.container
		h1.home-title.text-center Dịch vụ
		.service-list
			.row
				.col-12.col-md-4
					.service-col
						.service-icon
							img(src="img/service/1.png", alt="")
						.service-name Thi công nội thất
						.service-des Luôn luôn tìm tòi sáng tạo nhiều ý tưởng mới, nắm bắt su hướng thời đại để tạo nên những bản thiết kế nhà đẹp là cốt lõi của công ty chúng tôi.
				.col-12.col-md-4
					.service-col
						.service-icon
							img(src="img/service/1.png", alt="")
						.service-name Thi công nội thất
						.service-des Luôn luôn tìm tòi sáng tạo nhiều ý tưởng mới, nắm bắt su hướng thời đại để tạo nên những bản thiết kế nhà đẹp là cốt lõi của công ty chúng tôi.
				.col-12.col-md-4
					.service-col
						.service-icon
							img(src="img/service/1.png", alt="")
						.service-name Thi công nội thất
						.service-des Luôn luôn tìm tòi sáng tạo nhiều ý tưởng mới, nắm bắt su hướng thời đại để tạo nên những bản thiết kế nhà đẹp là cốt lõi của công ty chúng tôi.0
	section.service-progress
		.container
			.progress-list
				.progress-step
					.progress-icon
						img(src="img/service/p1.png", alt="")
					.progress-bar
				.progress-step
					.progress-icon
						img(src="img/service/p2.png", alt="")
					.progress-bar
				.progress-step
					.progress-icon
						img(src="img/service/p3.png", alt="")
					.progress-bar
section.service-banner
	.container
		.banner-img
			img(src="img/service/bn1.jpg", alt="")
			.banner-caption 
				.text X’Home mang đến cho khách hàng thiết kế đẹp và sản phẩm đa công năng
				a.btn-contact(href="#!") Liên hệ ngay