section.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/breadcrumb/1.jpg", alt="")
	.breadcrumb-content
		.container
			ol.breadcrumb
				li
					a(href="#!")
						span Home
				li
					a(href="#!")
						span Dịch vụ
section.project-page
	.container
		.project-detail
			.project-slide-wrap
				.slide-pagination
				.project-slide
					.item
						a.img(href="img/project/img1.jpg" data-fancybox="album1")
							img(src="img/project/img1.jpg", alt="")
					.item
						a.img(href="img/project/img1.jpg" data-fancybox="album1")
							img(src="img/project/img1.jpg", alt="")
					.item
						a.img(href="img/project/img1.jpg" data-fancybox="album1")
							img(src="img/project/img1.jpg", alt="")
					.item
						a.img(href="img/project/img1.jpg" data-fancybox="album1")
							img(src="img/project/img1.jpg", alt="")
					.item
						a.img(href="img/project/img1.jpg" data-fancybox="album1")
							img(src="img/project/img1.jpg", alt="")
					.item
						a.img(href="img/project/img1.jpg" data-fancybox="album1")
							img(src="img/project/img1.jpg", alt="")
			.project-info-wrap
				.project-info
					h1.project-name CĂN HỘ KDC PHÚ NHUẬN - PHONG CÁCH HIỆN ĐẠI
					.project-table
						table
							tr
								td - Chủ đầu tư:
								td Anh Hải
							tr
								td - Địa chỉ:
								td Khu dân cư Phú Nhuận
							tr
								td - Diện tích:
								td 45m2
							tr
								td - Phong cách:
								td Hiện đại
							tr
								td - Chi phí:
								td 100.000.000 VNĐ
				.project-nav-wrap
					.project-nav
						.item
							.img
								img(src="img/project/img1.jpg", alt="")
						.item
							.img
								img(src="img/project/img1.jpg", alt="")
						.item
							.img
								img(src="img/project/img1.jpg", alt="")
						.item
							.img
								img(src="img/project/img1.jpg", alt="")
						.item
							.img
								img(src="img/project/img1.jpg", alt="")
						.item
							.img
								img(src="img/project/img1.jpg", alt="")
		.project-other
			h2.page-title Dự án khác
			.project-slick
				.item
					a.project-col(href="#!")
						.project-img
							img(src="img/project/1.jpg", alt="")
						.project-name Căn hộ Vista Verde
				.item
					a.project-col(href="#!")
						.project-img
							img(src="img/project/2.jpg", alt="")
						.project-name Căn hộ Vista Verde
				.item
					a.project-col(href="#!")
						.project-img
							img(src="img/project/3.jpg", alt="")
						.project-name Căn hộ Vista Verde
				.item
					a.project-col(href="#!")
						.project-img
							img(src="img/project/4.jpg", alt="")
						.project-name Căn hộ Vista Verde
				.item
					a.project-col(href="#!")
						.project-img
							img(src="img/project/5.jpg", alt="")
						.project-name Căn hộ Vista Verde