section.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/breadcrumb/1.jpg", alt="")
	.breadcrumb-content
		.container
			ol.breadcrumb
				li
					a(href="#!")
						span Home
				li
					a(href="#!")
						span Dịch vụ
section.project-page
	.container
		h1.home-title.text-center Dự án
		.page-tab
			ul
				li.active
					a.active(href="#!") Tất cả
				li
					a(href="#!") Thiết kế nội thất
				li
					a(href="#!") thiết kế kiến trúc
				li
					a(href="#!") công trình thực tế
				li
					a(href="#!") dự án tiêu biểu
		.project-list
			.row
				.col-12.col-lg-8
					.row
						.col-12
							a.project-item.big(href="#!")
								.project-img(style="background:url(img/project/1.jpg) center center no-repeat;background-size: cover")
								h2.project-name Căn hộ Vinhomes Central Park
						.col-12.col-md-6
							a.project-item(href="#!")
								.project-img(style="background:url(img/project/2.jpg) center center no-repeat;background-size: cover")
								h2.project-name Căn hộ Vinhomes Central Park
						.col-12.col-md-6
							a.project-item(href="#!")
								.project-img(style="background:url(img/project/3.jpg) center center no-repeat;background-size: cover")
								h2.project-name Căn hộ Vinhomes Central Park
				.col-12.col-lg-4
					.row
						.col-12.col-sm-6.col-lg-12
							a.project-item(href="#!")
								.project-img(style="background:url(img/project/4.jpg) center center no-repeat;background-size: cover")
								h2.project-name Căn hộ Vinhomes Central Park
						.col-12.col-sm-6.col-lg-12
							a.project-item.high(href="#!")
								.project-img(style="background:url(img/project/5.jpg) center center no-repeat;background-size: cover")
								h2.project-name Căn hộ Vinhomes Central Park
				.col-12.col-md-6.col-lg-4
					a.project-item(href="#!")
						.project-img(style="background:url(img/project/6.jpg) center center no-repeat;background-size: cover")
						h2.project-name Căn hộ Vinhomes Central Park
				.col-12.col-md-6.col-lg-4
					a.project-item(href="#!")
						.project-img(style="background:url(img/project/7.jpg) center center no-repeat;background-size: cover")
						h2.project-name Căn hộ Vinhomes Central Park
				.col-12.col-md-6.col-lg-4
					a.project-item(href="#!")
						.project-img(style="background:url(img/project/8.jpg) center center no-repeat;background-size: cover")
						h2.project-name Căn hộ Vinhomes Central Park
		.pages
			ul.pagination
				li.active
					a(href="#!") 1
				li
					a(href="#!") 2
				li
					a(href="#!") 3
				li
					a(href="#!") 4