section.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/breadcrumb/1.jpg", alt="")
	.breadcrumb-content
		.container
			ol.breadcrumb
				li
					a(href="#!")
						span Home
				li
					a(href="#!")
						span Giới thiệu
section.about-section1
	.container
		h1.home-title.text-center Giới thiệu
		.home-des.text-center X’Home ra mắt thị trường Việt Nam vào cuối năm 2013 với sứ mệnh trở thành một trong những doanh nghiệp Thiết kế và Thi công nội thất, kiến trúc lớn nhất trên cả nước. X’Home hiện đã có mặt trên 6 tỉnh thành xuyên suốt cả nước và không ngừng vươn mình để tạo niềm tin trong tâm trí khách hàng về dịch vụ và sản phẩm uy tín.
		.about-content
			.row.no-gutters
				.col-12.col-md-8
					a.about-video(href="#!" data-fancybox="video")
						img(src="img/about/video.jpg", alt="")
				.col-12.col-md-4
					.content-wrap
						.content
							p Với đội ngũ nhân sự chất lượng và chuyên nghiệp gồm hàng trăm kiến trúc sư và cử nhân, đầu năm 2017, X’Home đã khai trương chi nhánh tại Singapore và Campuchia. X’Home từ hào là một trong những doanh nghiệp thiết kế và thi công nội thất, kiến trúc đầu tiên của Việt Nam xuất khẩu sản phẩm của mình ra thế giới.
						.about-img
							img(src="img/about/img1.jpg", alt="")
section.about-section2
	.container
		h2.home-title.text-center Tầm nhìn - sứ mệnh
		.about-vision
			.row
				.col-12.col-md-6
					.vision
						.icon 
							img(src="img/about/v1.png", alt="")
						.name Tầm nhìn
						.des Trở thành một trong những doanh nghiệp Thiết kế và Thi công nội thất, Kiến trúc có lượng khách hàng lớn nhất toàn quốc.
				.col-12.col-md-6
					.vision
						.icon 
							img(src="img/about/v1.png", alt="")
						.name Tầm nhìn
						.des Trở thành một trong những doanh nghiệp Thiết kế và Thi công nội thất, Kiến trúc có lượng khách hàng lớn nhất toàn quốc.
section.about-section3
	.container
		h2.home-title.text-center Hệ thống chi nhánh và showroom
		.store-list.store-slick
			.item
				.store
					.store-img
						img(src="img/store/1.jpg", alt="")
					.store-caption
						.store-name TP Hồ Chí Minh
						.store-des
							ul
								li <i class="fa fa-map" aria-hidden="true"></i>Số 5 - Trần Não - P Bình An - Quận 2 ( Thi công các công trình tại MIỀN NAM)
								li <i class="fa fa-phone" aria-hidden="true"></i>028 6656 2288
			.item.slick-active
				.store
					.store-img
						img(src="img/store/1.jpg", alt="")
					.store-caption
						.store-name TP Hồ Chí Minh
						.store-des
							ul
								li <i class="fa fa-map" aria-hidden="true"></i>Số 5 - Trần Não - P Bình An - Quận 2 ( Thi công các công trình tại MIỀN NAM)
								li <i class="fa fa-phone" aria-hidden="true"></i>028 6656 2288
			.item
				.store
					.store-img
						img(src="img/store/1.jpg", alt="")
					.store-caption
						.store-name TP Hồ Chí Minh
						.store-des
							ul
								li <i class="fa fa-map" aria-hidden="true"></i>Số 5 - Trần Não - P Bình An - Quận 2 ( Thi công các công trình tại MIỀN NAM)
								li <i class="fa fa-phone" aria-hidden="true"></i>028 6656 2288
			.item
				.store
					.store-img
						img(src="img/store/1.jpg", alt="")
					.store-caption
						.store-name TP Hồ Chí Minh
						.store-des
							ul
								li <i class="fa fa-map" aria-hidden="true"></i>Số 5 - Trần Não - P Bình An - Quận 2 ( Thi công các công trình tại MIỀN NAM)
								li <i class="fa fa-phone" aria-hidden="true"></i>028 6656 2288
