.container
	section.home-about
		.about-img
			img(src="img/home/a1.jpg", alt="")
		.about-content
			h1.home-title Giới thiệu
			.content
				p X’Home ra mắt thị trường Việt Nam vào cuối năm 2013 với sứ mệnh trở thành một trong những doanh nghiệp Thiết kế và Thi công nội thất, kiến trúc lớn nhất trên cả nước. X’Home hiện đã có mặt trên 6 tỉnh thành xuyên suốt cả nước và không ngừng vươn mình để tạo niềm tin trong tâm trí khách hàng về dịch vụ và sản phẩm uy tín. 
				p Với đội ngũ nhân sự chất lượng và chuyên nghiệp gồm hàng trăm kiến trúc sư và cử nhân, đầu năm 2017, X’Home đã khai trương chi nhánh tại Singapore và Campuchia. X’Home từ hào là một trong những doanh nghiệp thiết kế và thi công nội thất, kiến trúc đầu tiên của Việt Nam xuất khẩu sản phẩm của mình ra thế giới.
			.btn-wrap
				a.btn-viewmore(href="#!") Xem thêm<span class="lnr lnr-arrow-right"></span>
	section.home-service
		h2.home-title.text-center Dịch vụ
		.home-des.text-center Với đội ngũ nhân viên chuyên nghiệp nhiều kinh nghiệm trong thiết kế nội thất và kiến trúc, chúng tôi dựa vào những ước muốn của bạn để thiết lập ý tưởng và tiến hành thực hiện. Dịch vụ của chúng tôi có thể xây dựng nên một tổ ấm như bạn mong muốn.
		.service-list
			.row.justify-content-center
				.col-12.col-md-4
					.service-item
						.service-icon
							img(src="img/home/i1.png", alt="")
						.service-name Thiết kế kiến trúc
						.service-des Với kinh nghiệm nhiều năm, X’Home luôn đáp ứng đúng mọi nhu cầu, mong ước mà bạn muốn có cho tổ ấm của mình. 
				.col-12.col-md-4
					.service-item
						.service-icon
							img(src="img/home/i1.png", alt="")
						.service-name Thiết kế kiến trúc
						.service-des Với kinh nghiệm nhiều năm, X’Home luôn đáp ứng đúng mọi nhu cầu, mong ước mà bạn muốn có cho tổ ấm của mình. 
				.col-12.col-md-4
					.service-item
						.service-icon
							img(src="img/home/i1.png", alt="")
						.service-name Thiết kế kiến trúc
						.service-des Với kinh nghiệm nhiều năm, X’Home luôn đáp ứng đúng mọi nhu cầu, mong ước mà bạn muốn có cho tổ ấm của mình. 
	section.home-project
		.banner.project-banner
			.item
				a.banner-img(href="#!")
					img(src="img/home/bn1.jpg", alt="")
				.banner-caption Căn hộ Vista Verce
			.item
				a.banner-img(href="#!")
					img(src="img/home/bn1.jpg", alt="")
				.banner-caption Căn hộ Vista Verce
			.item
				a.banner-img(href="#!")
					img(src="img/home/bn1.jpg", alt="")
				.banner-caption Căn hộ Vista Verce
		.project-product
			h2.home-title.text-center Sản phẩm theo dự án
			.home-des.text-center Một số sản phẩm sử dụng trong dự án căn hộ Vista Verde
			.product-list.product-slick
				.item
					.product-col
						figure
							a.product-img(href="#!")
								img(src="img/product/1.png", alt="")
							figcaption
								h3.product-name Đồng hồ trang trí
								.product-price
									//- .old
									.new 1.500.960 đ
								.product-btn
									a.btn-buy(href="#!") Mua hàng
				.item
					.product-col
						figure
							a.product-img(href="#!")
								img(src="img/product/1.png", alt="")
							figcaption
								h3.product-name Đồng hồ trang trí
								.product-price
									//- .old
									.new 1.500.960 đ
								.product-btn
									a.btn-buy(href="#!") Mua hàng
				.item
					.product-col
						figure
							a.product-img(href="#!")
								img(src="img/product/1.png", alt="")
							figcaption
								h3.product-name Đồng hồ trang trí
								.product-price
									//- .old
									.new 1.500.960 đ
								.product-btn
									a.btn-buy(href="#!") Mua hàng
				.item
					.product-col
						figure
							a.product-img(href="#!")
								img(src="img/product/1.png", alt="")
							figcaption
								h3.product-name Đồng hồ trang trí
								.product-price
									//- .old
									.new 1.500.960 đ
								.product-btn
									a.btn-buy(href="#!") Mua hàng
				.item
					.product-col
						figure
							a.product-img(href="#!")
								img(src="img/product/1.png", alt="")
							figcaption
								h3.product-name Đồng hồ trang trí
								.product-price
									//- .old
									.new 1.500.960 đ
								.product-btn
									a.btn-buy(href="#!") Mua hàng
	section.home-product
		h2.home-title.text-center Sản phẩm nội thất
		.page-tab
			ul#myTab.nav.nav-tabs(role='tablist')
				li.nav-item
					a.nav-link.active(data-toggle='tab', href='#tab1', role='tab', aria-controls='home', aria-selected='true') Nội thất đồ gỗ
				li.nav-item
					a.nav-link(data-toggle='tab', href='#tab2', role='tab', aria-controls='profile', aria-selected='false') Đèn
				li.nav-item
					a.nav-link(data-toggle='tab', href='#tab3', role='tab', aria-controls='contact', aria-selected='false') Thảm
				li.nav-item
					a.nav-link(data-toggle='tab', href='#tab4', role='tab', aria-controls='contact', aria-selected='false') Trang trí/Decor
				li.nav-item
					a.nav-link(data-toggle='tab', href='#tab5', role='tab', aria-controls='contact', aria-selected='false') Thiết bị/Phụ kiện
		#myTabContent.tab-content
			#tab1.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='home-tab')
				.product-list.product-slick-wide
					.item
						.product-col
							figure
								a.product-img(href="#!")
									img(src="img/product/1.png", alt="")
								figcaption
									h3.product-name Đồng hồ trang trí
									.product-price
										//- .old
										.new 1.500.960 đ
									.product-btn
										a.btn-buy(href="#!") Mua hàng
					.item
						.product-col
							figure
								a.product-img(href="#!")
									img(src="img/product/1.png", alt="")
								figcaption
									h3.product-name Đồng hồ trang trí
									.product-price
										//- .old
										.new 1.500.960 đ
									.product-btn
										a.btn-buy(href="#!") Mua hàng
					.item
						.product-col
							figure
								a.product-img(href="#!")
									img(src="img/product/1.png", alt="")
								figcaption
									h3.product-name Đồng hồ trang trí
									.product-price
										//- .old
										.new 1.500.960 đ
									.product-btn
										a.btn-buy(href="#!") Mua hàng
					.item
						.product-col
							figure
								a.product-img(href="#!")
									img(src="img/product/1.png", alt="")
								figcaption
									h3.product-name Đồng hồ trang trí
									.product-price
										//- .old
										.new 1.500.960 đ
									.product-btn
										a.btn-buy(href="#!") Mua hàng
					.item
						.product-col
							figure
								a.product-img(href="#!")
									img(src="img/product/1.png", alt="")
								figcaption
									h3.product-name Đồng hồ trang trí
									.product-price
										//- .old
										.new 1.500.960 đ
									.product-btn
										a.btn-buy(href="#!") Mua hàng
					.item
						.product-col
							figure
								a.product-img(href="#!")
									img(src="img/product/1.png", alt="")
								figcaption
									h3.product-name Đồng hồ trang trí
									.product-price
										//- .old
										.new 1.500.960 đ
									.product-btn
										a.btn-buy(href="#!") Mua hàng
			#tab2.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab') ...
			#tab3.tab-pane.fade(role='tabpanel', aria-labelledby='contact-tab') ...
			#tab4.tab-pane.fade(role='tabpanel', aria-labelledby='contact-tab') ...
			#tab5.tab-pane.fade(role='tabpanel', aria-labelledby='contact-tab') ...
	section.home-intro
		.intro-img
			img(src="img/banner/intro.jpg", alt="")
		.intro-caption.text-center X’Home mang đến cho khách hàng thiết kế đẹp và sản phẩm đa công năng
	section.home-news
		h2.home-title.text-center Tin tức
		.news-list.news-slick
			.item
				.news-col
					figure
						a.news-img(href="#!")
							img(src="img/news/1.jpg", alt="")
						figcaption
							time 17/05/2018
							h3.news-name
								a(href="#!") Xu hướng tạo điểm xanh trong nhà để không gian tươi mát cả năm
							a.news-link(href="#!") Xem thêm 
			.item
				.news-col
					figure
						a.news-img(href="#!")
							img(src="img/news/2.jpg", alt="")
						figcaption
							time 17/05/2018
							h3.news-name
								a(href="#!") Xu hướng thiết kế kiến trúc năm 2018
							a.news-link(href="#!") Xem thêm 
			.item
				.news-col
					figure
						a.news-img(href="#!")
							img(src="img/news/3.jpg", alt="")
						figcaption
							time 17/05/2018
							h3.news-name
								a(href="#!") Cách thiết kế nội thất phòng khách theo hướng hiện đại
							a.news-link(href="#!") Xem thêm 
			.item
				.news-col
					figure
						a.news-img(href="#!")
							img(src="img/news/2.jpg", alt="")
						figcaption
							time 17/05/2018
							h3.news-name
								a(href="#!") Cách thiết kế nội thất phòng khách theo hướng hiện đại
							a.news-link(href="#!") Xem thêm 
			.item
				.news-col
					figure
						a.news-img(href="#!")
							img(src="img/news/3.jpg", alt="")
						figcaption
							time 17/05/2018
							h3.news-name
								a(href="#!") Cách thiết kế nội thất phòng khách theo hướng hiện đại
							a.news-link(href="#!") Xem thêm 
section.home-contact
	.container
		.row
			.col-12.col-lg-6.col-xl-7
				.home-form
					.module-title Đăng ký tư vấn
					.form-wrap
						.form-group
							input(type="text" placeholder="Họ tên")
						.form-group
							input(type="text" placeholder="Email")
						.form-group
							input(type="text" placeholder="Số điện thoại")
						.form-group
							input(type="text" placeholder="Tiêu đề")
						.form-group
							textarea(name="", cols="30", rows="" placeholder="Nội dung...")
						.frm-btn
							input(type="submit", value="Gửi thông tin")
			.col-12.col-lg-6.col-xl-5
				.home-map
					img(src="img/map.jpg", alt="")