section.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/breadcrumb/2.jpg", alt="")
	.breadcrumb-content
		.container
			ol.breadcrumb
				li
					a(href="#!")
						span Home
				li
					a(href="#!")
						span Tuyển dụng
section.career-page
	.container
		.career-section
			h1.home-title.text-center Tuyển dụng
			.career-content
				.row
					.col-12.col-lg-6
						.career-img
							img(src="img/career/img1.jpg", alt="")
					.col-12.col-lg-6
						.content
							p.text-red.text-500 Hãy tìm kiếm cơ hội nghề nghiệp tại X’Home để khẳng định bản thân và giao lưu học hỏi tạo cho bản thân nền tảng kiến thức vững vàng trong môi trường làm việc thân thiện và năng động
							p Trong định hướng phát triển nhân sự, X’Home tập trung xây dựng chính sách thu hút nhân tài thông qua chính sách lương, thưởng đặc biệt cạnh tranh kết hợp với các hoạt động đào tạo, bồi dưỡng nhằm giữ chân CBNV lâu dài, xây dựng phát triển đội ngũ quản lý kế thừa nhằm đáp ứng nhu cầu nhân sự cấp quản lý cho những năm tiếp theo cũng như thu hút nhân lực giỏi từ nhiều nguồn khác nhau về làm việc cho Công ty.
							.career-contact
								p 
									strong Hồ sơ gửi về
								ul
									li 159 đường số 5, Khu phố 2, Phường Bình An, Quận 2, Tp. Hồ Chí Minh 
									li Điện thoại:  028 6656 2288 hoặc 028 36201786
									li Email: info@xhome.com.vn
		.career-section
			h2.page-title Vị trí tuyển dụng
			.job-list
				.job
					.job-title
						.number 01 
						.name Giám đốc chi nhánh
						.status 
							.new Mới
						.date 26/10/2018
					.job-content
						.content 
							p 
								strong Ngày đăng: 
								|26/10/2018
								br
								strong Số lượng cần tuyển: 
								|25
							p 
								strong Công việc:
							p Kiểm soát toàn bộ hoạt động các chi nhánh trong vùng
								br
								|Báo cáo thông tin trực tiếp cho Ban Giám Đốc
								br
								|Các nhà hàng tại các Quận 1, 7, Phú Nhuận, Tân Bình.
								br
								|Khả năng tính toán, giao tiếp tốt, phục vụ khách hàng
								br
								|Giải quyết mâu thuẫn, tinh thần làm việc tập thể
							p 
								strong Yêu cầu:
								br
								|Tính kiên nhẫn, sức khỏe tốt
								br
								|Thuyết phục khách hàng, chu đáo, có tính chuyên nghiệp, có quan hệ khách hàng
								br
								|Khả năng quản lý lợi nhuận và quản lý có hiệu quả, chú trọng đến chất lượng.
								br
								|Tốt nghiệp chuyên ngành Quản lý khách hàng
								br
								|Tính chất công việc: Việc làm theo ca/Đổi ca
						a.btn-apply(href="#!") Ứng tuyển
				.job
					.job-title
						.number 02
						.name Giám đốc chi nhánh
						.status 
							//- .new Mới
						.date 26/10/2018
					.job-content
						.content 
							p Ngày đăng: 26/10/2018
								br
								|Số lượng cần tuyển: 25
							p 
								strong Công việc:
							p Kiểm soát toàn bộ hoạt động các chi nhánh trong vùng
								br
								|Báo cáo thông tin trực tiếp cho Ban Giám Đốc
								br
								|Các nhà hàng tại các Quận 1, 7, Phú Nhuận, Tân Bình.
								br
								|Khả năng tính toán, giao tiếp tốt, phục vụ khách hàng
								br
								|Giải quyết mâu thuẫn, tinh thần làm việc tập thể
							p 
								strong Yêu cầu:
								br
								|Tính kiên nhẫn, sức khỏe tốt
								br
								|Thuyết phục khách hàng, chu đáo, có tính chuyên nghiệp, có quan hệ khách hàng
								br
								|Khả năng quản lý lợi nhuận và quản lý có hiệu quả, chú trọng đến chất lượng.
								br
								|Tốt nghiệp chuyên ngành Quản lý khách hàng
								br
								|Tính chất công việc: Việc làm theo ca/Đổi ca
						a.btn-apply(href="#!") Ứng tuyển
				.job
					.job-title
						.number 03
						.name Giám đốc chi nhánh
						.status 
							//- .new Mới
						.date 26/10/2018
					.job-content
						.content 
							p Ngày đăng: 26/10/2018
								br
								|Số lượng cần tuyển: 25
							p 
								strong Công việc:
							p Kiểm soát toàn bộ hoạt động các chi nhánh trong vùng
								br
								|Báo cáo thông tin trực tiếp cho Ban Giám Đốc
								br
								|Các nhà hàng tại các Quận 1, 7, Phú Nhuận, Tân Bình.
								br
								|Khả năng tính toán, giao tiếp tốt, phục vụ khách hàng
								br
								|Giải quyết mâu thuẫn, tinh thần làm việc tập thể
							p 
								strong Yêu cầu:
								br
								|Tính kiên nhẫn, sức khỏe tốt
								br
								|Thuyết phục khách hàng, chu đáo, có tính chuyên nghiệp, có quan hệ khách hàng
								br
								|Khả năng quản lý lợi nhuận và quản lý có hiệu quả, chú trọng đến chất lượng.
								br
								|Tốt nghiệp chuyên ngành Quản lý khách hàng
								br
								|Tính chất công việc: Việc làm theo ca/Đổi ca
						a.btn-apply(href="#!") Ứng tuyển