section.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/breadcrumb/1.jpg", alt="")
	.breadcrumb-content
		.container
			ol.breadcrumb
				li
					a(href="#!")
						span Home
				li
					a(href="#!")
						span Sản phẩm
.container
	h1.home-title.text-center Sản phẩm
	.row.product-row
		.col-left
			include ../_layout/filter
		.col-main
			section.product-page
				.product-sort-wrap
					.product-sort
						select
							option Tên: Từ A đến Z
					.product-amount
						a.active(href="#!") 12
						a(href="#!") 24
						a(href="#!") 48
				.product-list
					.row
						.col-6.col-md-4.col-lg-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/1.png", alt="")
									figcaption
										h3.product-name Đồng hồ trang trí
										.product-price
											//- .old
											.new 1.500.960 đ
										.product-btn
											a.btn-buy(href="#!") Mua hàng
						.col-6.col-md-4.col-lg-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/1.png", alt="")
									figcaption
										h3.product-name Đồng hồ trang trí
										.product-price
											//- .old
											.new 1.500.960 đ
										.product-btn
											a.btn-buy(href="#!") Mua hàng
						.col-6.col-md-4.col-lg-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/1.png", alt="")
									figcaption
										h3.product-name Đồng hồ trang trí
										.product-price
											//- .old
											.new 1.500.960 đ
										.product-btn
											a.btn-buy(href="#!") Mua hàng
						.col-6.col-md-4.col-lg-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/1.png", alt="")
									figcaption
										h3.product-name Đồng hồ trang trí
										.product-price
											//- .old
											.new 1.500.960 đ
										.product-btn
											a.btn-buy(href="#!") Mua hàng
						.col-6.col-md-4.col-lg-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/1.png", alt="")
									figcaption
										h3.product-name Đồng hồ trang trí
										.product-price
											//- .old
											.new 1.500.960 đ
										.product-btn
											a.btn-buy(href="#!") Mua hàng
						.col-6.col-md-4.col-lg-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/1.png", alt="")
									figcaption
										h3.product-name Đồng hồ trang trí
										.product-price
											//- .old
											.new 1.500.960 đ
										.product-btn
											a.btn-buy(href="#!") Mua hàng
						.col-6.col-md-4.col-lg-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/1.png", alt="")
									figcaption
										h3.product-name Đồng hồ trang trí
										.product-price
											//- .old
											.new 1.500.960 đ
										.product-btn
											a.btn-buy(href="#!") Mua hàng
						.col-6.col-md-4.col-lg-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/1.png", alt="")
									figcaption
										h3.product-name Đồng hồ trang trí
										.product-price
											//- .old
											.new 1.500.960 đ
										.product-btn
											a.btn-buy(href="#!") Mua hàng
						.col-6.col-md-4.col-lg-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/1.png", alt="")
									figcaption
										h3.product-name Đồng hồ trang trí
										.product-price
											//- .old
											.new 1.500.960 đ
										.product-btn
											a.btn-buy(href="#!") Mua hàng
						.col-6.col-md-4.col-lg-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/1.png", alt="")
									figcaption
										h3.product-name Đồng hồ trang trí
										.product-price
											//- .old
											.new 1.500.960 đ
										.product-btn
											a.btn-buy(href="#!") Mua hàng
						.col-6.col-md-4.col-lg-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/1.png", alt="")
									figcaption
										h3.product-name Đồng hồ trang trí
										.product-price
											//- .old
											.new 1.500.960 đ
										.product-btn
											a.btn-buy(href="#!") Mua hàng
						.col-6.col-md-4.col-lg-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/1.png", alt="")
									figcaption
										h3.product-name Đồng hồ trang trí
										.product-price
											//- .old
											.new 1.500.960 đ
										.product-btn
											a.btn-buy(href="#!") Mua hàng
				.pages
					ul.pagination
						li.active
							a(href="#!") 1
						li
							a(href="#!") 2
						li
							a(href="#!") 3
						li
							a(href="#!") 4
