section.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/breadcrumb/1.jpg", alt="")
	.breadcrumb-content
		.container
			ol.breadcrumb
				li
					a(href="#!")
						span Home
				li
					a(href="#!")
						span Tin tức
section.news-page
	.container
		h1.home-title.text-center Tin tức
		.page-tab
			ul
				li.active
					a.active(href="#!") Tất cả
				li
					a(href="#!") Tin nội bộ
				li
					a(href="#!") Tin dự án
				li
					a(href="#!") Tin trong ngành
		.news-list
			.row
				.col-12.col-lg-6
					.big-news
						figure
							a.news-img(href="#!")
								img(src="img/news/1.jpg", alt="")
							figcaption
								time 26/05/2018
								h1.news-name
									a(href="#!") Trang trí nhà đẹp với nội thất màu cam độc lạ
								.news-des Nội thất màu cam là những món đồ trang trí nhà đẹp và ấn tượng mang đến cảm giác tươi vui ấm cúng.
				.col-12.col-lg-6
					.small-news
						figure
							a.news-img(href="#!")
								img(src="img/news/1.jpg", alt="")
							figcaption
								time 26/05/2018
								h1.news-name
									a(href="#!") Những ý tưởng thiết kế nội thất rất nhiều người sử dụng 
								//- .news-des Nội thất màu cam là những món đồ trang trí nhà đẹp và ấn tượng mang đến cảm giác tươi vui ấm cúng.
					.small-news
						figure
							a.news-img(href="#!")
								img(src="img/news/1.jpg", alt="")
							figcaption
								time 26/05/2018
								h1.news-name
									a(href="#!") Khoác áo mới cho phòng khách đón hè
								//- .news-des Nội thất màu cam là những món đồ trang trí nhà đẹp và ấn tượng mang đến cảm giác tươi vui ấm cúng.
					.small-news
						figure
							a.news-img(href="#!")
								img(src="img/news/1.jpg", alt="")
							figcaption
								time 26/05/2018
								h1.news-name
									a(href="#!") Những cách thiết kế nội thất khiến ngôi nhà rộng rãi hơn
								//- .news-des Nội thất màu cam là những món đồ trang trí nhà đẹp và ấn tượng mang đến cảm giác tươi vui ấm cúng.
				.col-6.col-md-6.col-lg-4
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/1.jpg", alt="")
							figcaption
								time 17/05/2018
								h3.news-name
									a(href="#!") Thiết kế nội thất căn hộ chung cư 29m2
								.news-des Với diện tích bé, căn hộ chung cư 29 m2 đã sử dụng các giải pháp thiết kế thông minh và khéo léo như sàn gỗ cứng màu trắng và nội thất tối giản.
				.col-6.col-md-6.col-lg-4
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/1.jpg", alt="")
							figcaption
								time 17/05/2018
								h3.news-name
									a(href="#!") Thanh lịch căn hộ trắng xám
								.news-des Mỗi gia đình với độ tuổi và giới tính của các thành viên khác nhau sẽ có những yêu thích khác nhau về màu sắc. Nhưng với gia đình gồm ba thành 
				.col-6.col-md-6.col-lg-4
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/1.jpg", alt="")
							figcaption
								time 17/05/2018
								h3.news-name
									a(href="#!") Căn hộ 25m² đẹp với nội thất cực kỳ hợp lý
								.news-des Nội thất đặt đóng riêng kết hợp cùng cách bài trí thông minh, cá tính của chủ nhân khiến căn hộ nhỏ chỉ 25m² nhưng đẹp và tiện nghi chẳng kém
				.col-6.col-md-6.col-lg-4
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/1.jpg", alt="")
							figcaption
								time 17/05/2018
								h3.news-name
									a(href="#!") Căn hộ 25m² đẹp với nội thất cực kỳ hợp lý
								.news-des Nội thất đặt đóng riêng kết hợp cùng cách bài trí thông minh, cá tính của chủ nhân khiến căn hộ nhỏ chỉ 25m² nhưng đẹp và tiện nghi chẳng kém
				.col-6.col-md-6.col-lg-4
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/1.jpg", alt="")
							figcaption
								time 17/05/2018
								h3.news-name
									a(href="#!") Cận cảnh siêu biệt thự trên bầu trời
								.news-des Hiện tại, mọi người thường do dự trong việc kết hợp các phong cách nội thất khác nhau, đặc biệt là khi họ mới bước chân vào thế giới thiết kế nội...
				.col-6.col-md-6.col-lg-4
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/1.jpg", alt="")
							figcaption
								time 17/05/2018
								h3.news-name
									a(href="#!") 10 ý tưởng trang trí ban công nhỏ
								.news-des Nếu căn hộ của bạn không sở hữu một ban công rộng thì cũng đừng vì thế mà buồn. Bạn vẫn có thể tạo ra được một không gian thư giãn có cây... 
		.pages
			ul.pagination
				li
					a(href="#!") 1
				li.active
					a(href="#!") 2
				li
					a(href="#!") 3
				li
					a(href="#!") 4