section.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/breadcrumb/2.jpg", alt="")
	.breadcrumb-content
		.container
			ol.breadcrumb
				li
					a(href="#!")
						span Home
				li
					a(href="#!")
						span Thư viện
section.gallery-page
	.container
		h1.home-title.text-center Thư Viện
		.gallery-list
			.row
				.col-12.col-lg-6
					.row
						.col-12
							a.gallery-album.big(href="img/gallery/1.jpg" data-fancybox='album1' style="background:url(img/gallery/1.jpg) center center no-repeat;background-size:cover")
								.album-caption
									.name Căn hộ chung cư - phong cách hiện đại - 76m<sup>2</sup>
									time 13/11/2018
						.col-12.col-md-8
							a.gallery-album.medium(href="img/gallery/1.jpg" data-fancybox='album1' style="background:url(img/gallery/1.jpg) center center no-repeat;background-size:cover")
								.album-caption
									.name Căn hộ chung cư - phong cách hiện đại - 76m<sup>2</sup>
									time 13/11/2018
						.col-12.col-md-4
							.row
								.col-6.col-md-12
									a.gallery-album(href="img/gallery/1.jpg" data-fancybox='album1' style="background:url(img/gallery/1.jpg) center center no-repeat;background-size:cover")
										.album-caption
											.name Căn hộ chung cư - phong cách hiện đại - 76m<sup>2</sup>
											time 13/11/2018
								.col-6.col-md-12
									a.gallery-album(href="img/gallery/1.jpg" data-fancybox='album1' style="background:url(img/gallery/1.jpg) center center no-repeat;background-size:cover")
										.album-caption
											.name Căn hộ chung cư - phong cách hiện đại - 76m<sup>2</sup>
											time 13/11/2018
				.col-12.col-lg-6
					.row
						.col-6
							a.gallery-album.small(href="img/gallery/1.jpg" data-fancybox='album1' style="background:url(img/gallery/1.jpg) center center no-repeat;background-size:cover")
								.album-caption
									.name Căn hộ chung cư - phong cách hiện đại - 76m<sup>2</sup>
									time 13/11/2018
						.col-6
							a.gallery-album.small(href="img/gallery/1.jpg" data-fancybox='album1' style="background:url(img/gallery/1.jpg) center center no-repeat;background-size:cover")
								.album-caption
									.name Căn hộ chung cư - phong cách hiện đại - 76m<sup>2</sup>
									time 13/11/2018
						.col-12.col-md-8
							a.gallery-album.medium(href="img/gallery/1.jpg" data-fancybox='album1' style="background:url(img/gallery/1.jpg) center center no-repeat;background-size:cover")
								.album-caption
									.name Căn hộ chung cư - phong cách hiện đại - 76m<sup>2</sup>
									time 13/11/2018
						.col-12.col-md-4
							.row
								.col-6.col-md-12
									a.gallery-album(href="img/gallery/1.jpg" data-fancybox='album1' style="background:url(img/gallery/1.jpg) center center no-repeat;background-size:cover")
										.album-caption
											.name Căn hộ chung cư - phong cách hiện đại - 76m<sup>2</sup>
											time 13/11/2018
								.col-6.col-md-12
									a.gallery-album(href="img/gallery/1.jpg" data-fancybox='album1' style="background:url(img/gallery/1.jpg) center center no-repeat;background-size:cover")
										.album-caption
											.name Căn hộ chung cư - phong cách hiện đại - 76m<sup>2</sup>
											time 13/11/2018
						.col-6
							a.gallery-album.small(href="img/gallery/1.jpg" data-fancybox='album1' style="background:url(img/gallery/1.jpg) center center no-repeat;background-size:cover")
								.album-caption
									.name Căn hộ chung cư - phong cách hiện đại - 76m<sup>2</sup>
									time 13/11/2018
						.col-6
							a.gallery-album.small(href="img/gallery/1.jpg" data-fancybox='album1' style="background:url(img/gallery/1.jpg) center center no-repeat;background-size:cover")
								.album-caption
									.name Căn hộ chung cư - phong cách hiện đại - 76m<sup>2</sup>
									time 13/11/2018