section.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/breadcrumb/1.jpg", alt="")
	.breadcrumb-content
		.container
			ol.breadcrumb
				li
					a(href="#!")
						span Home
				li
					a(href="#!")
						span Tin tức
section.news-page
	.container
		h1.home-title.text-center Thanh lịch căn hộ trắng xám
		.news-detail
			.content
				.home-des.text-center Mỗi gia đình với độ tuổi và giới tính của các thành viên khác nhau sẽ có những yêu thích khác nhau về màu sắc. Nhưng với gia đình gồm ba thành viên này thì họ đều yêu thích một màu rất thời trang và thanh lịch, đó là màu trắng xám.
				.row
					.col-12.col-lg-8
						figure
							img.w-100(src="img/news/img1.jpg", alt="")
					.col-12.col-lg-4
						p  Chủ nhà rất yêu thích sự sang trọng và trang nhã của màu trắng và nét hiện đại, thời trang của màu xám ghi nên tất cả căn hộ đều lấy hai tone màu này làm chủ đạo.
						p Màu trắng không bao giờ là lỗi thời trong thiết kế nội thất, tuy nhiên nó lại dễ vấy bẩn nếu gia chủ không cẩn thận, chính vì vậy bạn nên cân nhắc trước khi lựa chọn tone màu chủ đạo cho căn hộ của mình
						p Sẽ thật đơn điệu nếu căn hộ chỉ toàn màu trắng, mảng xám sau sofa sẽ là điểm nhấn nổi bật cho không gian phòng khách nhà bạn. Lưu ý rằng màu sofa nên sáng hơn màu tường như vậy sẽ tôn lên được bộ vị thế cho sofa nhà bạn ..
				p Không gian bếp có lẽ được chú trọng nhất trong căn hộ này, với gian bếp rộng, dài kết hợp quầy bar trông rất lịch sự và rất tiện nghi khi sử dụng. Tuy nhiên, với bản chất của vật liệu trắng hay xuống màu và dễ vấy bẩn, bạn nên lưu ý chọn những vật liệu dễ lau chùi như laminate hoặc acrylic sẽ giúp hạn chế vết bẩn hơn.
				figure.text-center
					img(src="img/news/img2.jpg", alt="")
				p Tủ bếp trắng bóng kết hợp với kính xám đen sẽ là sự kết hợp của sự sang trọng và trang nhã, người phụ nữ sẽ càng thích hơn khi vào bếp nấu ăn.
				.row
					.col-12.col-lg-4
						figure
							img(src="img/news/img3.jpg", alt="")
						figure
							img(src="img/news/img4.jpg", alt="")
					.col-12.col-lg-8
						figure
							img.w-100(src="img/news/img5.jpg", alt="")
						p Theo chân gia chủ vào phòng ngủ chính với cùng màu sắc chủ đạo đã chọn. Căn phòng vừa vặn cho thiết kế tiện nghi bởi hệ tủ kệ cân đối và hợp lý.
						p Người thiết kế dùng màu trắng cho mảng tường đầu giường và màu xám xanh cho khu kệ tivi là có tính toán.
						p Với mong muốn khi đặt mình xuống giường gia chủ sẽ thấy thật nhẹ nhàng thư giản bởi mảng tường trang trí màu sáng trên đầu nằm. Nhưng khi tỉnh giấc cho một ngày mới thì màu xám mạnh mẽ năng động sẽ cho tinh thần thêm thoải mái hơn.
						p Những tưởng màu xám sẽ làm cho không gian bị già đi, nhưng người thiết kế đã khéo léo chọn màu sàn gỗ nhạt và sang hơn phòng ngủ chính, bên cạnh đó, tranh treo tường hoạt hình nhiều màu sắc cũng được trang trí nhiều hơn.
				figure
					img(src="img/news/img6.jpg", alt="")
				p Ánh sáng vàng tương tác với sắc xám giúp phòng ngủ bé trung hòa màu sắc trông rất dễ chịu. Chính những tính toán của người thiết kế đã giúp cho không gian phòng bé trai vẫn rất vui tươi và năng động như đúng độ tuổi của bé.
				p Sẽ còn rất nhiều màu sắc cho bạn lựa chọn để trang trí cho căn hộ của mình. Điều quan trọng là chúng tôi biết cách kết hợp thế nào cho hài hòa và hợp lý nhất để căn hộ thêm thẩm mỹ. Vậy bạn thuộc cung nào, mạng gì, hãy chia sẻ với chúng tôi để được các chuyên gia tư vấn nhé.
			.share
				img(src="img/share.jpg", alt="")
		.news-other
			h2.page-title Tin tức khác
			.news-slick.news-list
				.item
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/1.jpg", alt="")
							figcaption
								time 17/05/2018
								h3.news-name
									a(href="#!") Thiết kế nội thất căn hộ chung cư 29m2
								.news-des Với diện tích bé, căn hộ chung cư 29 m2 đã sử dụng các giải pháp thiết kế thông minh và khéo léo như sàn gỗ cứng màu trắng và nội thất tối giản.
				.item
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/1.jpg", alt="")
							figcaption
								time 17/05/2018
								h3.news-name
									a(href="#!") Thanh lịch căn hộ trắng xám
								.news-des Mỗi gia đình với độ tuổi và giới tính của các thành viên khác nhau sẽ có những yêu thích khác nhau về màu sắc. Nhưng với gia đình gồm ba thành 
				.item
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/1.jpg", alt="")
							figcaption
								time 17/05/2018
								h3.news-name
									a(href="#!") Căn hộ 25m² đẹp với nội thất cực kỳ hợp lý
								.news-des Nội thất đặt đóng riêng kết hợp cùng cách bài trí thông minh, cá tính của chủ nhân khiến căn hộ nhỏ chỉ 25m² nhưng đẹp và tiện nghi chẳng kém
				.item
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/1.jpg", alt="")
							figcaption
								time 17/05/2018
								h3.news-name
									a(href="#!") Căn hộ 25m² đẹp với nội thất cực kỳ hợp lý
								.news-des Nội thất đặt đóng riêng kết hợp cùng cách bài trí thông minh, cá tính của chủ nhân khiến căn hộ nhỏ chỉ 25m² nhưng đẹp và tiện nghi chẳng kém